
[color "branch"]
	remote = yellow

[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = true
	pager = true
	commit = auto
[alias]
	br = branch
	ci = commit
	co = checkout
	cob = checkout -b
	df = diff
	st = status
	pushom = push origin master
	pullom = pull origin master
	pullo = "!f() { git pull origin $1;}; f"
	pusho = "!f() { git push origin $1;}; f"
	lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset) %C(bold cyan)(committed: %cD)%C(reset) %C(auto)%d%C(reset)%n''          %C(white)%s%C(reset)%n''          %C(dim white)- %an <%ae> %C(reset) %C(dim white)(committer: %cn <%ce>)%C(reset)'


[credential]
	helper = store
